.combo {
    position: relative;
    right: auto;
}

.combo-shielder {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.combo-body {
    position: absolute;
    top: 33px;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 105;
    visibility: visible;
    display: inline-block;
}