<!-- <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs font-weight-bold">
          <li class="nav-item">
            <a class="nav-link " routerLink="./app-service-list" routerLinkActive="active">App Service List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="./app-service-configurable" routerLinkActive="active">App Service Configurable</a>
            <a class="nav-link" routerLink="./app-service-configurable" routerLinkActive="active">App Service Configurable</a>
          </li>
      </ul>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div> -->

<router-outlet></router-outlet>