<div class="card">
    <div class="card-header">
        <span class="float-right">
            <button type="button" class="btn btn-primary btn-sm" (click)="submit()">
                <i class="fa fa-save mr-1"></i>
                <span>Submit</span> 
            </button>
        </span>
        <span>
            <span class="text-danger font-weight-bold fa fa-code mr-2"></span>
            <span class="mr-3 font-weight-bold">Add Stream</span> 
            <textarea class="form-control" id="deblock_udid" name="deblock_udid" rows="10" style="min-width: 90%; margin-top: 1%;" [(ngModel)]="addStreamSimple"></textarea>
        </span>
    </div>
</div>

