<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs font-weight-bold">
          <li class="nav-item">
            <a class="nav-link " routerLink="./stream-center" routerLinkActive="active" i18n>Stream</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./rules-center" routerLinkActive="active" i18n>Rules</a>
          </li>
      </ul>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>