.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: .25rem!important;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: .25rem!important;
    cursor: pointer;
}