.btn[disabled]:hover {
    cursor: not-allowed;
}

#ruleengine_addrules_paramsBox .page-header{
	margin: 15px 0 20px;
}

#ruleengine_addrules_paramsBox legend{
	padding: 0;
}

#ruleengine_addrules_paramsBox hr{
	border-top: 2px dashed #987cb9;
}

#ruleengine_model,#ruleengine_addrules_model .modal-dialog{
	position:fixed;
	top:10%;
	right:0;
	left:0;
	bottom:10%;
	margin:auto;
}

#ruleengine_model,#ruleengine_addrules_model .modal-content {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#ruleengine_model,#ruleengine_addrules_model .modal-body {
	max-height:79%;
	overflow-y:auto;
	position: absolute;
	top: 55px;
	bottom: 65px;
	width: 100%;
}

#ruleengine_model,#ruleengine_addrules_model .modal-header .close {margin-right: 15px;}
#ruleengine_model,#ruleengine_addrules_model .modal-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

#ruleengine_model,#ruleengine_addrules_model #json-renderer {
	padding-left: 5%;
}
