/* .breadcrumb > li + li:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
    padding: 0 5px;
} */

.breadcrumb > li + li::before {
    color: inherit;
    font-weight: inherit;
    content: '>>';
    padding: 0 5px;
}

.btn[disabled]:hover {
    cursor: not-allowed;
}