
fieldset{
  padding:.35em .625em .75em;
  margin:0 2px;
  border:1px solid silver;
  border-color:green;
  border-width: 1px;
}

legend{
  padding:.5em;
  border:0;
  width:auto;
  color: green;
}

/*override bootbox default btn CSS.*/
.modal.red-green-buttons .btn-primary {
    background-color: #0c0!important;
    color: #fff;
}

.modal.red-green-buttons .btn-default {
    background-color: #c00!important;
    color: #fff;
}


.modal.green-red-buttons .btn-primary {
    background-color: #c00!important;
    color: #fff;
}

.modal.green-red-buttons .btn-default {
    background-color: #0c0!important;
    color: #fff;
}


/*edgexfoundr ui custom icon btn*/

.edgexIconBtn {
  display: inline-block;
  margin: 0 5px;
}

.edgexIconBtn > i {
  color: rgb(68, 157, 68);
}

.edgexIconBtn > i:hover {
  /*color: black;*/
  font-size: 20px;
  z-index: 999;
}
