<app-message></app-message>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 sidebar px-0">   
            <div class="sidebar-center font-weight-bold text-white vh-100">
                <div class=" sidebar-header mw-100 p-2">
                    <a class="navbar-brand">
                        <img src="/assets/img/bg_x.png" width="40" height="40" alt="" loading="lazy">
                    </a>
                </div>
                <nav class="nav d-flex flex-column ">
                    <a  class="nav-link text-light" routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}"> 
                        <span class="px-5" >
                            <i class="fa fa-tachometer pr-2"></i> 
                           <span [class]='toggleClass' i18n>Dashboard</span> 
                        </span>
                    </a>
                    <a  class="nav-link text-light" routerLink="/system-agent" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}"> 
                        <span class="px-5" >
                            <i class="fa fa-server pr-2"></i> 
                            <span [class]='toggleClass' i18n>System</span>  
                        </span>
                    </a>
                    <a  class="nav-link text-light" routerLink="/device-service" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
                        <span class="px-5" >
                            <i class="fa fa-gears pr-2"></i> 
                            <span [class]='toggleClass' i18n>DeviceService</span>
                        </span>
                    </a>
                    <a  class="nav-link text-light" routerLink="/core-data" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}"> 
                        <span class="px-5">
                            <i class="fa fa-database pr-2"></i> 
                            <span [class]='toggleClass' i18n>DataCenter</span>
                        </span>
                    </a>
                    <a  class="nav-link text-light" routerLink="/scheduler" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}"> 
                        <span class="px-5" i18n><i class="fa fa-clock-o"></i> Scheduler</span>
                    </a>
                    <a  class="nav-link text-light" routerLink="/notifications" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}"> 
                        <span class="px-5" i18n><i class="fa fa-envelope"></i> Notifications</span>
                    </a>
                    <a  class="nav-link text-light" routerLink="/rule-engine" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}"> 
                        <span class="px-5" i18n><i class="fa fa-sliders"></i> RuleEngine</span>
                    </a>
                    <a  class="nav-link text-light" routerLink="/app-service" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}"> 
                        <span class="px-5" i18n><i class="fa fa-cloud-upload"></i> ExportService</span>
                    </a>
                </nav>
            </div>
        </div>
        <div class="col-10 px-0 center pt-0 vh-100" style="overflow-y:auto;">
            <nav class="bg-light center-header px-3 pt-2 font-weight-bold">
                <div class="nav-router mw-100 align-middle">
                    <h4 class="d-inline">{{currentNav}}</h4>
                    
                    <h5 class="d-inline float-right "><i class="fa fa-user-circle-o "></i> <span class=" ">Admin</span></h5>
                    <div class="dropdown float-right d-inline mr-2 ">
                        <a id="dropdownLangLink" type="button" class="p-0 btn btn-link btn-sm dropdown-toggle text-decoration-none text-reset font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span i18n>English</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right font-weight-bold" aria-labelledby="dropdownLangLink">
                            <a class="dropdown-item text-reset" href="/">English</a>
                            <a class="dropdown-item text-reset" href="/zh">中文简体</a>
                        </div>
                    </div>
                    
                </div>
                <div class="mw-100 align-middle mt-1">
                    <!-- <div class="d-inline">
                        <h6 *ngFor="let path of navChain;let i=index;" class="d-inline">
                            <a  *ngIf="i !== (navChain.length - 1)" routerLink="{{path}}" class="text-decoration-none d-inline"> {{path}} </a> 
                            <span  *ngIf="i == (navChain.length - 1)"  class="text-decoration-none d-inline"> {{path}} </span> 
                            <span *ngIf="i !== (navChain.length - 1)">&gt;</span>
                        </h6> 
                    </div> -->

                    <div class="d-inline">
                        <h6 class="d-inline"><a href="#" class="text-decoration-none d-inline"> 1 sub nav  </a></h6> 
                        <h6 class="d-inline"><a href="#" class="text-decoration-none d-inline"> > 2 sub nav  </a></h6> 
                        <h6 class="d-inline"><a href="#" class="text-decoration-none d-inline"> > 3 sub nav  </a></h6> 
                    </div>
                    <h6 class="d-inline float-right "><span class=""> <i class="fa fa-power-off"></i>Logout</span></h6>
               </div>
            </nav>
            <div class="center-center p-3" style="overflow-x: hidden;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>


