.sidebar-center {
   background-color: rgba(45,40,72, 0.9)!important;
   
}
.sidebar-header {
    background-color: rgba(45,40,72)!important;
    height: 65px;
}

.active-link {
    color: rgb(146,44,72);
    background-color: rgba(146,44,72, 0.4) !important;
}

.sidebar-center .nav-link:hover {
    color: rgb(146,44,72);
    background-color: rgba(146,44,72, 0.4) !important;
}

/* .sidebar-header a {
    min-width: 300px;
} */

.center-center {
    /* background-color: #DEDDDF; */
}

.center-header {
    height: 65px;
}
