<<<<<<< HEAD
.sidebar {
    position: fixed;
    top:0;
    left: 0;
    width: 250px;
    z-index: 1;
}

.sidebar-shrink {
    position: fixed;
    top:0;
    left: 0;
    width: 45px;
    z-index: 1;
}

.sidebar-center {
   background-color: rgba(45,40,72, 0.9)!important;
   /* min-height: calc(100vh - 48px); */
=======
.sidebar-center {
   background-color: rgba(45,40,72, 0.9)!important;
   
>>>>>>> 65bd1bc... init index layout
}
.sidebar-header {
    background-color: rgba(45,40,72)!important;
    height: 65px;
}

.active-link {
    color: rgb(146,44,72);
    background-color: rgba(146,44,72, 0.4) !important;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> ad4a855... init index layout
.sidebar-center .nav-link:hover {
    color: rgb(146,44,72);
    background-color: rgba(146,44,72, 0.4) !important;
}

<<<<<<< HEAD
.center {
    position: absolute;
    left: 250px;
    right: 0;
    /* z-index: 1; */
}

.center-shrink {
    position: absolute;
    left: 45px;
    right: 0;
    /* z-index: 1; */
}

.center-no-shrink {
    position: absolute;
    left: 45px;
    right: 0;
    /* z-index: 1; */
=======
=======
/* .sidebar-header a {
    min-width: 300px;
} */

>>>>>>> ad4a855... init index layout
.center-center {
<<<<<<< HEAD
    background-color: #DEDDDF;
>>>>>>> 65bd1bc... init index layout
=======
    /* background-color: #DEDDDF; */
>>>>>>> 65f645d... init router for each module, sidebar init
}

.center-header {
    height: 65px;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
>>>>>>> 65bd1bc... init index layout
=======
}
>>>>>>> ad4a855... init index layout
