<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs font-weight-bold">
          <li class="nav-item">
            <a class="nav-link " routerLink="./device-service-list" routerLinkActive="active">Device Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./device-center" routerLinkActive="active">Device</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./device-profile-center" routerLinkActive="active">Device Profile</a>
          </li>
      </ul>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>