<div class="card">
    <div class="card-header font-weight-bold">
        <i class="fa fa-list text-danger mr-2"></i> 
        <span i18n>Device Profile List</span> 
    </div>
    <div class="card-body p-0">
        <div  class="bg-light px-2 py-2">
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-primary" >
                    <span>
                        <i class="fa fa-refresh mr-1"></i>
                        <span i18n>Refresh</span>
                    </span> 
                </button>
                <button type="button" class="btn btn-info"  routerLink="../add-provision-watcher">
                    <span>
                        <i class="fa fa-plus mr-1"></i>
                        <span i18n>Add</span>
                    </span>
                </button>
                <button type="button" class="btn btn-success"   data-toggle="tooltip" data-placement="top" title="only one should be selected" >
                    <span>
                        <i class="fa fa-edit mr-1"></i>
                        <span i18n>Edit</span>
                    </span>
                </button>
                <button type="button" class="btn btn-danger"  >
                    <span>
                        <i class="fa fa-trash mr-1"></i>
                        <span i18n>Delete</span>
                    </span>
                </button>
              </div>
              <!-- <button class="btn btn-secondary btn-sm text-light ml-3">upload yaml file</button> -->
        </div>
        <div class="table-responsive">
            <table class="table table-hover text-truncate">
                <thead class="thead-light">
                    <tr>
                      <th scope="col">
                          <input  type="checkbox" >
                      </th>
                      <th scope="col">ID</th>
                      <th scope="col" i18n>Name</th>
                      <th scope="col" i18n>Description</th>
                      <th scope="col" i18n>AssociatedDevice</th>
                      <th scope="col" i18n>Labels</th>
                      <th scope="col" i18n>Manufacturer</th>
                      <th scope="col" i18n>Model</th>
                      <!-- <th scope="col">Created</th>
                      <th scope="col">Modified</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let provisionWatcher of provisionWatcherList">
                        <td class="user-select-all">{{provisionWatcher.name}}</td>
                        <td>{{provisionWatcher.labels}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted p-1">
        <nav aria-label="navigation">
            <ul class="pagination justify-content-end m-0">
                <li class="page-item mr-2 mt-1">
                    <span class="align-middle" i18n>items per page</span>
                </li>
                <li class="page-item mr-2 ">
                    <select class="custom-select" name="pageLimit" id="pageLimit"  >
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </li>
                <li class="page-item mr-1">
                    <button class="page-link btn"  >
                        <i class="fa fa-angle-double-left mr-1"></i>
                        <span i18n>Previous</span>
                    </button>
                </li>
                <li class="page-item" >
                    <button class="page-link btn"  >
                        <span i18n>Next</span>
                        <i class="fa fa-angle-double-right ml-1"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="modal fade" id="deleteConfirmDialog" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteConfirmDialogLabel">
                    <i class="fa fa-warning mr-1"></i>
                    <span i18n>Warning</span>
                </h5>  
            </div>
            <div class="modal-body" i18n>
                The data will be permanently erased!!! Are you sure to execute delete operation？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Cancel</button>
                <button type="button" class="btn btn-danger" i18n>Confirm</button>
            </div>
        </div>
    </div>
</div>