<div *ngIf="messageService.messages.length"  class="position-fixed overflow-hidden text-break" style="top: 10px; right: 0;min-width: 300px; max-width: 300px;z-index: 999;">
    <div *ngFor='let message of messageService.messages'>
        <div [class]="message.class" role="alert">
            <span type="button" class="btn btn-lg close" (click)="close(message)" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </span>
            <div>
                {{message.content}}
            </div>
        </div>
    </div>
</div>


