.combo {
    position: relative;
    right: auto;
}

.combo-body {
    position: absolute;
    top: 34px;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 5;
    visibility: visible;
    display: inline-block;
}