/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
<<<<<<< HEAD

*{
    font-size:14px;
}

/* html, body { 
    width: 100%;
    height: 100%; 
}  */

.color-edgex-red {
    color: #922C48;
}

<<<<<<< HEAD
.color-edgex-red-2 {
    color: #E60D49;
}

.color-edgex-blue {
    color: #425CC7;
}

.color-edgex-black {
    color: #2D2848;
}

.color-edgex-dark {
    color: #707070;
}

.color-edgex-light {
    color: #DEDDDF;
}
=======
>>>>>>> d08a9c7... init scaffold
=======

*{
    font-size:14px;
}
>>>>>>> 65bd1bc... init index layout
=======
.color-edgex-2 {
    color: #425CC7;
}
>>>>>>> fd3dabb... update global css style
