.wrap{
    width:100%;
    margin:0 auto;
    overflow: hidden;
}
#left{
    width:80%;
    min-height:800px;
    background:#fafcfd;
    float: left;
}
#right{
    width:20%;
    min-height:800px;
    border-left:1px solid #d6e9c6;background:#fafcfd;
    float: right;
}
.drop-card{
    margin-top: 20px;
    height: 80px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
}
.transform{
    font-weight: bold;
}
.description{
    padding-left: 50px;
    padding-right: 50px;
    font-size: smaller;
    float: left;
    text-align:center
}
.paramButton{
    width:300px;
    outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 30px;
    margin-right: 100px;
    float:right;
}

.modal-dialog{
    position:fixed;
    top:20%;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

.modal-backdrop {
    z-index: -1 !important;
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
}