* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.home_back {
    /* background-color: #339933; */
    background-color: black;

    opacity: 0.1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.login_form {
    width: 400px;
    float:right;
    margin-top: 300px;
    margin-right: 15%;
}

div.web_logo {
    position: fixed;
    top: 360px;
    left: 100px;
}

div.web_logo span {
    font-weight: 600;
    font-size: xx-large;
    font-stretch: wider;
    color: white;
    opacity: 0.8;
    font-style: oblique;
    /* font-variant: small-caps; */
}

button {
    outline: none;
}

div.login_background {
    width: 100%;
    height: 200px;
    position: fixed;
    top: 288px;
    padding: 10px;
    background-color: #4d394b;
    opacity: 0.7;
}
