fieldset{
  padding:.35em .625em .75em;
  margin:0 2px;
  border:1px solid silver;
  border-color:green;
  border-width: 1px;
}

legend{
  padding:.5em;
  border:0;
  width:auto;
  color: green;
}
#edgex-support-notification-list {
  overflow: auto;
}
#edgex-support-notification-list table th,
#edgex-support-notification-list table tr {
  word-break: keep-all;
  white-space: nowrap;
  text-align: center;
}

#edgex-support-subscription-list {
  overflow: auto;
}

#edgex-support-subscription-list .subscription-channel-icon {
  color:rgb(68, 157, 68);
}

#edgex-support-subscription-list .subscription-channel-icon i:hover {
  font-size:25px;
  z-index: 999;
}

#edgex-foundry-support-subscription-main {
  position: relative;
}

#edgex-foundry-support-subscription-main table th,
#edgex-foundry-support-subscription-main table tr {
  word-break: keep-all;
  white-space: nowrap;
  text-align: center;
}

.edgex-support-subscription-edit {
  display: none;
}

.edgex-support-subscription-channels-panel {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
  display: none;
  width: 90%;
  height: 200px;
  z-index: 999;
  overflow: auto;
}

#edgex-support-transmission-list {
  overflow: auto;
}

#edgex-foundry-support-transmission-main table th,
#edgex-foundry-support-transmission-main table tr {
  word-break: keep-all;
  white-space: nowrap;
  text-align: center;
}

table.table td i.add {
  color: #27C46B;
}
table.table td i.edit {
  color: #FFC107;
}
table.table td i.delete {
  color: #E34724;
}

#clean_up_model .modal-dialog{
  position:fixed;
  top:10%;
  right:0;
  left:0;
  bottom:10%;
  margin:auto;
}

#transmission_model .modal-dialog{
  position:fixed;
  top:10%;
  right:0;
  left:0;
  bottom:10%;
  margin:auto;
}

#transmission_model .modal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
}

#transmission_model .modal-body {
  max-height:79%;
  overflow-y:auto;
  position: absolute;
  top: 55px;
  bottom: 65px;
  width: 100%;
}

#transmission_model .modal-header .close {margin-right: 15px;}
#transmission_model .modal-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#transmission_model #json-renderer {
  padding-left: 5%;
}

.modal-backdrop {
  z-index: -1 !important;
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}