.realTimeDataView_wrap{
    height: 100%;
    width:100%;
    margin:0 auto;
    overflow: hidden;
}
.realTimeDataView_bottom{
    height: 30%;
    width: 100%;
    min-height:300px;
    border-top:1px solid #d6e9c6;background:#fafcfd;
    float: left;
}
#realTimeDataView_left{
    height: 70%;
    width:50%;
    min-height:500px;
    background:#fafcfd;
    float: left;
}
#realTimeDataView_right{
    height: 70%;
    width:50%;
    min-height:500px;
    border-left:1px solid #d6e9c6;background:#fafcfd;
    float: right;
}
#realTimeDataView_line_num_model .modal-dialog{
    position:fixed;
    top:10%;
    right:0;
    left:0;
    bottom:10%;
    margin:auto;
}
.modal-backdrop {
    z-index: -1 !important;
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
}